@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



.open-sans-fonts {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 2rem;
}

.display-flex {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
}

.nav-link {
    text-decoration: none;
}

.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);

}

.navbar,
.banner {

    max-width: 1250px;
    margin: 0 auto;
}

.banner-title {
    font-size: 3rem;
    font-weight: 700;
}

.banner-content {
    text-align: center;
    max-width: 850px;
    margin: 0 auto;

}

.btn {
    background-color: #FF900E;
    color: white;
    font-weight: 600;
    padding: 16px 21px;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom: 35px;
    border: none;
    cursor: pointer;
}

.banner-image {
    width: 100%;
}

/* responsibe area */
@media screen and (max-width:576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }

}

main>section {
    margin-top: 130px;
}

main {
    max-width: 1150px;
    margin: 0 auto;
}

.section {
    align-items: center;
}

.image-con {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature {
    margin-left: 120px;
    max-width: 500px;
}

.feature-title {
    font-size: 45px;
    font-weight: 700;
}

.features {
    color: #FF900E;
}

.quick {
    color: #727272;
}

.feature-des {
    font-size: 16px;
    color: #727272;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;

}

.fact {
    border: 2px solid orange;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-num {
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fact-title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 7px;
}